* {
  box-sizing: border-box;
  background-color: lightblue;
  font-family: 'Fjalla+One', sans-serif;
}

html {
  margin: 10px;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}

.verb h1 {
  font-size: 80px;
  text-align: center;
}

.verb h1:hover {
  transform: scale(2);
  color: red;
  background: white;
}

